<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="styles/navebar.css">
    <link rel="stylesheet" href="styles/topfive.css">
    <link rel="stylesheet" href="styles/search.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>

<div class="main-box">
    <div class="navbar">
        <nav>

            <a class="home" href="/main">Home</a>
            <a class="search" href="/search">Search</a>
            <a class="Aboutme" href="/about">About me</a>
            <a class="Mycrypto" href="/Mycrypto">Mycrypto</a>

        </nav>
    </div>