<%- include("views/partials/header.ejs") %>
    <div class="main-box">
        <div class="option-to-choose">
            <h3>If you are a new user click on register.</h3>
            <h3>If you have already registered please click log in.</h3>
        </div>
        <div class="choices">
            <form action="/register" method="POST">
                <button type="submit" class="submit register-button">Register</button>
            </form>
            <form action="/login" method="GET">
                <button type="submit" class="submit login-button">Log In</button>
            </form>
        </div>
    </div>

<%- include("views/partials/footer.ejs") %>