<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles/Mycrypto.css" rel="stylesheet">
    <title>Mycrypto</title>
</head>
<body>
    <div class="main-box">
        <div class="heading-box">
            <h1>Mycrypto</h1>
        </div>
        <button class="progress-btn">New Game</button>
        <button class="progress-btn">Continue</button>
        <div class="container">
            <button class="dropdown-button">Support</button>
            <div class="dropdown-content">
                <p>This is my first game that I am making myself I know there will be many drawbacks in this game and I am hoping you to point it out to me and I will try to update the game as much as I can.</p>
            </div>
        </div>
        <p>Mycrypto is a game</p>
        <p>Initially you are given 10,000 and you have to buy crypto according to real price and also sell according to real price. This game will not impact the real crypto market, this is only for your learning.</p>
    </div>
    <script src="extra/dropdown.js"></script>
</body>
</html>
