<%- include("../views/partials/header.ejs") %>

    <div class="thanks">
        Please click on Log in for further process
        <form action="/login" class="return" method="GET">
            <button type="submit">Log in</button>
        </form>
    </div>

<%- include("../views/partials/footer.ejs") %>