
    <%- include("../partials/navbar.ejs") %>
        <div class="crypto-mainbox">
            <div class="crypto">
                <a class="currency" href="/currency?name=Bitcoin" method="GET">
                    <img src="/images/Bitcoin.png">
                    <h1>Bitcoin</h1>
                </a>
            </div>
            <div class="crypto">
                <a class="currency" href="/currency?name=Ethereum" method="GET">
                    <img src="/images/Ethereum.png">
                    <h1>Ethereum</h1>
                </a>
            </div>
            <div class="crypto">
                <a class="currency" href="/currency?name=Tether" method="GET">
                    <img src="/images/Tether.png">
                    <h1>Tether</h1>
                </a>
            </div>
            <div class="crypto">
                <a class="currency" href="/currency?name=BNB" method="GET">
                    <img src="/images/BNB.png">
                    <h1>BNB</h1>
                </a>
            </div>
            <div class="crypto">
                <a class="currency" href="/currency?name=Solana" method="GET">
                    <img src="/images/Solana.png">
                    <h1>Solana</h1>
                </a>
            </div>
        </div>
    </div>
</body>
</html>